@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Rowdies&display=swap");
:root {
  --red: #fe3b1f;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", Arial, sans-serif;
  color: #454545;
  text-align: center;
  height: 100vh;
}
body > div,
form {
  height: inherit;
}
button {
  border: 0;
}
button:hover {
  cursor: pointer;
}
textarea {
  resize: none;
}
input,
textarea {
  border: 1px solid #525557;
  font-size: 14px;
  line-height: 14px;
  padding: 20px 60px;
  width: 455px;
  margin: 0 auto;
}

.none {
  margin-bottom: 50px !important;
}
.radio-wrap > div {
  margin-bottom: 50px;
}
.radio {
  text-align: left;
  margin-bottom: 0 !important;
}
.radio input[type="radio"] {
  width: 20px;
  margin-bottom: 18px;
  margin-right: 7px;
}
h1,
h2 {
  font-weight: 400;
}
h2 {
  font-family: "Rowdies", Arial, sans-serif;
  font-size: 64px;
  line-height: 80px;
  color: var(--red);
  padding: 0 30px;
  max-width: 720px;
  margin: 100px auto 0;
}

p {
  font-size: 18px;
  text-align: left;
}

.block-left h2 {
  margin-bottom: 100px;
  margin-top: 50px;
}

input:focus,
textarea:focus {
  outline: none;
  border: 1px solid var(--red);
}

.input-wrap > div {
  margin-bottom: 12px;
  padding: 0 30px;
}

.page-wrap button {
  width: 19px;
  height: 19px;
  border-radius: 20px;
  border: 0;
  background: #fe3b1f;
  opacity: 0.1;
  margin: 0 7.5px;
}
.dot.complete {
  opacity: 1;
}

.page-wrap {
  display: flex;
  justify-content: center;
  margin-right: 51.75%;
  padding-right: 20px;
  margin-bottom: 40px;
}

.error {
  margin: 4px auto;
  font-style: italic;
  color: var(--red);
  font-size: 11px;
  line-height: 18px;
  text-align: left;
  padding: 0 60px;
  max-width: 455px;
  height: 16px;
}

.block-right {
  width: 100%;
  max-width: 51.75%;
  color: #fff;
  font-size: 24px;
  line-height: 48px;
}

.block-right p {
  margin: 0 auto;
  max-width: 785px;
  height: 606px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 0 40px;
}

.block-right:after {
  content: "";
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  left: 48.25%;
  background: #151718;
  z-index: -1;
}

.block-left {
  width: 100%;
  max-width: 48.25%;
  display: flex;
  flex-direction: column;
}

.block-wrap {
  display: flex;
}

form > div {
  display: grid;
}
.main_back {
  background-image: radial-gradient(#0c0d0e 0%, #151718 73.44%);
}
main button {
  border: 0;
  background: var(--red);
  color: #fff;
  height: 80px;
  width: 395px;
  font-size: 24px;
  border-radius: 60px;
}
.nostyle {
  background: none;
  text-decoration: underline;
}
.rocket {
  background-size: 400px;
  width: 400px;
  height: 400px;
}
main h1 {
  margin: 0;
  color: var(--red);
  font-size: 96px;
  font-family: "Rowdies", Arial, sans-serif;
}

form > div:before,
form > div:after {
  content: "";
  /*adds pseudo element on top and aligns form content in the middle automatically*/
}

.drop {
  position: absolute;
  left: 0;
  right: 0;
  top: 56px;
  background-color: #fff;
  border: 1px solid #000;
}

.skillset {
  display: flex;
  flex-direction: column;
}
.skillset > div {
  margin-bottom: 31px;
}
.dropIt {
  display: flex;
  position: relative;
  width: 455px;
  margin: 0 auto;
}
.dropIt input:hover {
  cursor: pointer;
}
.drop input {
  width: 100%;
  max-width: 455px;
  border: 0;
  padding: 20px 50px;
}
.skillset {
  max-width: 455px;
  margin: 0 auto;
}
.skillset button {
  max-width: 220px;
  padding: 0 10px;
  height: 32px;
  font-size: 12px;
  line-height: 32px;
  display: flex;
  align-self: end;
  margin-top: 30px;
  border: 0;
  background: var(--red);
  color: #fff;
  margin-bottom: 56px;
}
.skillset button:hover {
  cursor: pointer;
}

.skillsSelected {
  display: flex;
  flex-direction: row;
  border: 1px solid #525557;
  height: 48px;
  align-items: center;
}
.skillsSelected > div:last-child {
  margin-right: 15px;
}
.skillsSelected > div:last-child:hover {
  cursor: pointer;
}
.skillsSelected > div:nth-child(2) {
  flex-grow: 1;
  text-align: left;
}
.skillsSelected > div:first-child {
  margin-left: 17px;
  font-style: italic;
  width: 50px;
  margin-right: 35px;
}
.pn {
  margin: 0 7.5px;
}
.pn:hover {
  cursor: pointer;
}

.radio-wrap {
  text-align: unset;
  max-width: 455px;
  margin: 0 auto;
  margin-bottom: 100px;
}
.dropIt:before {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  border-color: var(--red);
  border-style: solid;
  border-width: 0 2px 2px 0;
  margin-top: 23px;
  right: 23px;
  transform: rotate(45deg);
  pointer-events: none;
}

.outer-wrap {
  max-width: 1194px;
  padding: 20px;
  margin: 0 auto;
}
.list {
  background: var(--red);
}
.content-wrap {
  max-width: 916px;
  margin: 0 auto;
}
.content-wrap > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 147px;
  margin-bottom: 93px;
}
@media only screen and (max-width: 1000px) {
  body {
    height: auto;
  }
  h2 {
    font-size: 40px;
    line-height: 60px;
    padding: 20px 20px 10px;
  }
  .block-wrap {
    flex-direction: column-reverse;
  }
  .block-wrap > div {
    max-width: 100%;
  }
  .block-right {
    position: relative;
  }
  .block-right::after {
    content: "";
    position: absolute;
    left: 0;
  }
  .page-wrap {
    margin: 0 auto;
    padding: 20px 0 60px;
  }
  .block-right p {
    padding: 30px 30px 100px;
    height: auto;
    font-size: 20px;
    line-height: 40px;
  }
}
