:root {
  --red: #fe3b1f;
}
body {
  box-sizing: border-box;
  font-family: "Montserrat", Arial, sans-serif;
  color: #454545;
  text-align: center;
}
input {
  border: 1px solid #525557;
  font-size: 14px;
  line-height: 14px;
  padding: 20px 60px;
  width: 455px;
}

h2 {
  font-family: "Rowdies", Arial, sans-serif;
  font-size: 64px;
  line-height: 80px;
  color: var(--red);
}

input:focus {
  outline: none;
  border: 1px solid var(--red);
}

.input-wrap > div {
  margin-bottom: 57px;
}
